extends ./nav_admin.pug

block content
	section
		h1 Hello World !
		//- each results in result
		//- 	article 
		//- 		img(src=result.image, alt=result.title)
		//- 		h1= result.title
		//- 		p= result.content