extends ./nav_admin.pug

block content
	
	section
		h1 Create
		form(action="/defi",method="post")
			div
				label(for="title") Titre
				input(id="title" type="text", name="title", value="Titre")
			div
				label(for="content") Contenu
				textarea(id="content", name="content")  Lorem ipsum dolor sit amet, consectetur adipisicing elit.

			div
				label(for="image") Image
				input(id="image", type="url", name="image", value='https://api.adorable.io/avatars/285/abott@adorable.png')
			div
				button(type="submit") Envoyer
