<!DOCTYPE html>
html(lang="fr")
head
	meta(charset="UTF-8")
	title Eval Back
	//- link(rel="stylesheet", href="./css/style.css")
body
	header
		nav
			a(href="#") Liste utilisateurs
			a(href="/admin/create_defi") Crée un défi
			a(href="/admin/sign_up") Deconnection
	
	block content
	footer
		p Copyright &copy;