<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Eval Back
	link(rel="stylesheet", href="./css/style.css")
body
	header
		nav
			a(href="#") Mon profil
			a(href="#") Mes missions
			a(href="/user/sign_up") Deconnection

	block content
		
	footer
		p Copyright &copy;