extends ./nonav.pug

block content
	section
		h1 Inscription
		form(action="/connect/inscription",method="post")
			div
				label(for="user") User
				input(id="user", type="radio", name="user", value="user")
			div
				label(for="admin") Admin
				input(id="admin", type="radio", name="admin", value="admin")
			div
				label(for="title") Login
				input(id="title", type="text", name="login", value="login")
			div
				label(for="password") Password
				input(id="password", type="password", name="password", value="password")
			div
				label(for="mail") Mail
				input(id="title", type="email", name="mail", value="mail")
			div
				button(type="submit") S'inscrires

			
