extends ./nonav.pug

block content
	section
		h1 Login
		form(action="/connect/login",method="post")
			div
				label(for="user") User
				input(id="user", type="radio", name="user", value="user")
			div
				label(for="admin") Admin
				input(id="admin", type="radio", name="admin", value="admin")
			div
				label(for="title") Login
				input(id="title", type="text", name="login", value="Login")
			div
				label(for="password") Password
				input(id="password", type="password", name="password", value="password")
			div
				button(type="submit") Connexion
			div
				button(type="submit") 
					a(href="/connect/inscription") S'inscrires		
