extends ./nonav.pug

block content
	section
		h1 Mot de passe oublié
		form(action="/post/store",method="post")
			div
				label(for="title") Login
				input(id="title", type="text", name="login", value="Login")
			div
				label(for="password") Password
				input(id="password", type="password", name="password", value="password")
			div
				label(for="password") Password
				input(id="password", type="password", name="password", value="password")
			div
				button(type="submit") 
					a(href="/connect/login") Connexion
